<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>Project1</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ViewReimbursementServ</display-name>
    <servlet-name>ViewReimbursementServ</servlet-name>
    <servlet-class>com.revature.servlets.ViewReimbursementServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewReimbursementServ</servlet-name>
    <url-pattern>/ViewReimbursements</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserPage</display-name>
    <servlet-name>UserPage</servlet-name>
    <servlet-class>com.revature.servlets.UserPage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserPage</servlet-name>
    <url-pattern>/UserPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReimbursementAuthorize</display-name>
    <servlet-name>ReimbursementAuthorize</servlet-name>
    <servlet-class>com.revature.servlets.ReimbursementAuthorize</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReimbursementAuthorize</servlet-name>
    <url-pattern>/ReimbursementAuthorize</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.revature.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateReimbursementServ</display-name>
    <servlet-name>CreateReimbursementServ</servlet-name>
    <servlet-class>com.revature.servlets.CreateReimbursementServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateReimbursementServ</servlet-name>
    <url-pattern>/CreateReimbursement</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServ</display-name>
    <servlet-name>CreateAccountServ</servlet-name>
    <servlet-class>com.revature.servlets.CreateAccountServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServ</servlet-name>
    <url-pattern>/CreateAccount</url-pattern>
  </servlet-mapping>
</web-app>